<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}">
    <meta name="_csrf_header" content="${_csrf.headerName}">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-text text-light">
            <span id="userEmail"></span> with roles:
            <span id="userRoles"></span>
        </span>
        <a href="/logout" class="btn btn-outline-light">Logout</a>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="d-flex flex-column flex-shrink-0 p-0 text-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link active">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" class="nav-link">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light">
            <h1 class="mt-3">Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == null ? 'active' : ''}" href="#users-table" data-bs-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'new-user' ? 'active' : ''}" href="#new-user" data-bs-toggle="tab">New User</a>
                </li>
            </ul>
            <div class="tab-content mt-4">
                <div class="tab-pane fade" th:classappend="${activeTab == null ? 'show active' : ''}" id="users-table">
                    <div class="header-section mb-1" style="background-color: #e9ecef; border-bottom: 2px solid #dee2e6; padding: 0.5rem 1rem;">
                        <h3>All users</h3>
                    </div>
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Age</th>
                            <th>Roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="usersTableBody"></tbody>
                    </table>
                </div>
                <div class="tab-pane fade" th:classappend="${activeTab == 'new-user' ? 'show active' : ''}" id="new-user">
                    <div class="header-section mb-3" style="background-color: #e9ecef; border-bottom: 2px solid #dee2e6; padding: 0.5rem 1rem; text-align: center;">
                        <h3>Add new user</h3>
                    </div>
                    <form id="addUserForm" class="text-center">
                        <div class="mb-3">
                            <label for="firstName" class="form-label" style="font-weight: bold;">First name</label>
                            <input type="text" class="form-control w-25 mx-auto" id="firstName" required>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName} "></div>-->
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label" style="font-weight: bold;">Last name</label>
                            <input type="text" class="form-control w-25 mx-auto" id="lastName" required>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>-->
                        </div>
                        <div class="mb-3">
                            <label for="age" class="form-label" style="font-weight: bold;">Age</label>
                            <input type="number" class="form-control w-25 mx-auto" id="age" required>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>-->
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-weight: bold;">Email</label>
                            <input type="text" class="form-control w-25 mx-auto" id="email" required>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label" style="font-weight: bold;">Password</label>
                            <input type="password" class="form-control w-25 mx-auto" id="password" required>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
                        </div>
                        <div class="mb-3">
                            <label for="roles" class="form-label" style="font-weight: bold;">Role</label>
                            <select class="form-select w-25 mx-auto" id="roles" multiple>
                            </select>
<!--                            <div class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>-->
                        </div>
                        <button type="submit" class="btn btn-success" id="addButton">Add new user</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm" >
                    <div class="mb-3">
                        <label for="editUserId" class="form-label fw-bold">ID</label>
                        <input type="text" class="form-control bg-light" id="editUserId" name="id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label fw-bold">First Name</label>
                        <input type="text" class="form-control" id="editFirstName" name="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label fw-bold">Last Name</label>
                        <input type="text" class="form-control" id="editLastName" name="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="editAge" class="form-label fw-bold">Age</label>
                        <input type="number" class="form-control" id="editAge" name="age">
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label fw-bold">Email</label>
                        <input type="text" class="form-control" id="editEmail" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="editPassword" class="form-label fw-bold">Password</label>
                        <input type="password" class="form-control" id="editPassword" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="editRoles" class="form-label fw-bold">Roles</label>
                        <select class="form-select" id="editRoles" name="roles" multiple>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="saveChangesButton">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteUserForm">
                    <div class="mb-3">
                        <label for="deleteUserId" class="form-label fw-bold">ID</label>
                        <input type="text" class="form-control bg-light" id="deleteUserId" name="id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteFirstName" class="form-label fw-bold">First Name</label>
                        <input type="text" class="form-control bg-light" id="deleteFirstName" name="firstName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteLastName" class="form-label fw-bold">Last Name</label>
                        <input type="text" class="form-control bg-light" id="deleteLastName" name="lastName" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteAge" class="form-label fw-bold">Age</label>
                        <input type="number" class="form-control bg-light" id="deleteAge" name="age" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteEmail" class="form-label fw-bold">Email</label>
                        <input type="text" class="form-control bg-light" id="deleteEmail" name="email" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="deleteRoles" class="form-label fw-bold">Roles</label>
                        <select class="form-select bg-light" id="deleteRoles" name="roles" multiple disabled>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" id="deleteButton">Delete User</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch("/admin/user")
            .then(response => response.json())
            .then(data => {
                document.getElementById("userEmail").textContent = data.userEmail;
                document.getElementById("userRoles").textContent = data.userRoles;
            })
            .catch(error => {
                console.error("Error with loading auth data: ", error)
            });

        const usersTableBody = document.getElementById("usersTableBody");
        function loadUsers() {
            fetch("/admin/users")
                .then((response) => response.json())
                .then((users) => {
                    usersTableBody.innerHTML = "";
                    users.forEach((user) => {
                        const row = document.createElement("tr");
                        const roles = user.roles.map(role => role.authority.replace("ROLE_", "")).join(", ");
                        row.innerHTML = `
                        <td>${user.id}</td>
                        <td>${user.firstName}</td>
                        <td>${user.lastName}</td>
                        <td>${user.age}</td>
                        <td>${user.email}</td>
                        <td>${roles}</td>
                        <td>
                            <button class="btn btn-primary"
                                        onclick="editUser(${user.id})"
                                        data-bs-toggle="modal"
                                        data-bs-target="#editUserModal"
                                        th:attr="data-id=${user.id},
                                            data-firstName=${user.firstName},
                                            data-lastName=${user.lastName},
                                            data-age=${user.age},
                                            data-email=${user.email},
                                            data-roles=${user.roles}">
                                    Edit
                                </button>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                        onclick="deleteUser(${user.id})"
                                         data-bs-toggle="modal"
                                         data-bs-target="#deleteUserModal"
                                         th:attr="data-id=${user.id},
                                            data-firstName=${user.firstName},
                                            data-lastName=${user.lastName},
                                            data-age=${user.age},
                                            data-email=${user.email},
                                            data-roles=${user.roles}">
                                Delete
                            </button>
                        </td>
                    `;
                        usersTableBody.appendChild(row);
                    });
                });
        }
        const saveChangesButton = document.getElementById("saveChangesButton");
        saveChangesButton.addEventListener("click", () => {
            const id = document.getElementById("editUserId").value;
            const firstName = document.getElementById("editFirstName").value;
            const lastName = document.getElementById("editLastName").value;
            const age = document.getElementById("editAge").value;
            const email = document.getElementById("editEmail").value;
            const password = document.getElementById("editPassword").value;
            const roles = Array.from(document.getElementById("editRoles").selectedOptions).map(option => ({
                id: option.value,
                authority: option.text
            }));
            const updatedUser = {
                id: id,
                firstName: firstName,
                lastName: lastName,
                age: age,
                email: email,
                password: password,
                roles: roles
            };
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            fetch(`/admin/users/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": csrfToken
                },
                body: JSON.stringify(updatedUser)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    loadUsers();
                    const modalElement = document.getElementById("editUserModal");
                    const modal = bootstrap.Modal.getInstance(modalElement);
                    modal.hide(); // Закрываем модальное окно
                    modalElement.removeAttribute('style'); // Сброс inline-стилей
                    modalElement.classList.remove('show'); // Убираем Bootstrap-класс
                    document.body.classList.remove('modal-open'); // Снимаем класс с body
                    document.querySelectorAll('.modal-backdrop').forEach(backdrop => backdrop.remove());
                })
                .catch(error => {
                    console.error("Error updating user:", error);
                });
        });
        const addButton = document.getElementById("addButton");
        const addForm = document.getElementById("addUserForm");
        addButton.addEventListener("click", (event) => {
            event.preventDefault();
            const firstName = document.getElementById("firstName").value;
            console.log(firstName);
            const lastName = document.getElementById("lastName").value;
            console.log(lastName);
            const age = document.getElementById("age").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const roles = Array.from(document.getElementById("roles").selectedOptions).map(option => ({
                id: option.value,
                authority: option.text
            }));
            const user = {
                firstName: firstName,
                lastName: lastName,
                age: age,
                email: email,
                password: password,
                roles: roles
            };
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            fetch(`/admin/users`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-Token": csrfToken
                },
                body: JSON.stringify(user)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    return response.json();
                })
                .then(data => {
                    addForm.reset();
                    loadUsers();
                    alert("User was added")
                })
                .catch(error => {
                    console.error("Error updating user:", error);
                });
        });
        const deleteButton = document.getElementById("deleteButton");
        deleteButton.addEventListener("click", () => {
            const id = document.getElementById("deleteUserId").value;
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            console.log(csrfHeader);
            console.log(csrfToken);
            fetch(`/admin/users/${id}`, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRF-TOKEN": csrfToken
                },
                body: JSON.stringify(id)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                    if (response.status === 204) {
                        return
                    }
                    return response.json();
                })
                .then(data => {
                    loadUsers();
                    const modalElement = document.getElementById("deleteUserModal");
                    const modal = bootstrap.Modal.getInstance(modalElement);
                    modal.hide(); // Закрываем модальное окно
                    modalElement.removeAttribute('style'); // Сброс inline-стилей
                    modalElement.classList.remove('show'); // Убираем Bootstrap-класс
                    document.body.classList.remove('modal-open'); // Снимаем класс с body
                    document.querySelectorAll('.modal-backdrop').forEach(backdrop => backdrop.remove());
                })
                .catch(error => {
                    console.error("Error delete user:", error);
                });
        });
        window.editUser = function (id) {
            fetch(`/admin/users/${id}`, )
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error fetching user data");
                    }
                    return response.json();
                })
                .then(user => {
                    document.getElementById("editUserId").value = user.id;
                    document.getElementById("editFirstName").value = user.firstName;
                    document.getElementById("editLastName").value = user.lastName;
                    document.getElementById("editAge").value = user.age;
                    document.getElementById("editEmail").value = user.email;
                    document.getElementById("editPassword").value = "";
                    const rolesSelect = document.getElementById("editRoles");
                    Array.from(rolesSelect.options).forEach(option => {
                        option.selected = user.roles.some(role => role.id === option.value);
                    });
                    const editUserModal = new bootstrap.Modal(document.getElementById("editUserModal"));
                    editUserModal.show();
                })
                .catch(error => console.error("Error:", error));
        };
        window.deleteUser = function (id) {
            fetch(`/admin/users/${id}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error fetching user data");
                    }
                    return response.json();
                })
                .then(user => {
                    document.getElementById("deleteUserId").value = user.id;
                    document.getElementById("deleteFirstName").value = user.firstName;
                    document.getElementById("deleteLastName").value = user.lastName;
                    document.getElementById("deleteAge").value = user.age;
                    document.getElementById("deleteEmail").value = user.email;
                    document.getElementById("deletePassword").value = "";
                    const rolesSelect = document.getElementById("editRoles");
                    Array.from(rolesSelect.options).forEach(option => {
                        option.selected = user.roles.some(role => role.id === option.value);
                    });
                    const deleteUserModal = new bootstrap.Modal(document.getElementById("deleteUserModal"));
                    deleteUserModal.show();
                })
                .catch(error => console.error("Error:", error));
        };
        const rolesSelect = document.getElementById("roles");
        fetch("/admin/roles")
            .then(response => response.json())
            .then(roles => {
                rolesSelect.innerHTML = "";
                roles.forEach(role => {
                    const option = document.createElement("option");
                    option.value = role.id;
                    option.textContent = role.authority;
                    rolesSelect.appendChild(option);
                })
            })
            .catch(error => {
                console.error("Error loading roles: ", error);
            })
        const rolesEdit = document.getElementById("editRoles");
        fetch("/admin/roles")
            .then(response => response.json())
            .then(roles => {
                rolesEdit.innerHTML = "";
                roles.forEach(role => {
                    const option = document.createElement("option");
                    option.value = role.id;
                    option.textContent = role.authority;
                    rolesEdit.appendChild(option);
                })
            })
            .catch(error => {
                console.error("Error loading roles: ", error);
            })
        const rolesDelete = document.getElementById("deleteRoles");
        fetch("/admin/roles")
            .then(response => response.json())
            .then(roles => {
                rolesDelete.innerHTML = "";
                roles.forEach(role => {
                    const option = document.createElement("option");
                    option.value = role.id;
                    option.textContent = role.authority;
                    rolesDelete.appendChild(option);
                })
            })
            .catch(error => {
                console.error("Error loading roles: ", error);
            })
        loadUsers();
    });
</script>
</body>
</html>
